# Local Docker/Airflow
AIRFLOW_UID=50000
AIRFLOW_CONN_POSTGRES=postgresql://postgres:postgres@postgres:5432/airbnb_census
AIRFLOW_DATA_PATH=/opt/airflow/data
BRONZE_INIT_SQL_PATH=/opt/airflow/sql/init_bronze_schema.sql
RUN_INITIAL_LOAD=true

# Local dbt from Airflow
DBT_RUN_MODE=local
DBT_PROJECT_DIR=/opt/airflow/dbt
DBT_PROFILES_DIR=/opt/airflow/.dbt
DBT_LOCAL_COMMANDS=dbt build

# Local BI
METABASE_URL=http://localhost:3000

# dbt Cloud (only needed when DBT_RUN_MODE=cloud)
DBT_CLOUD_URL=cloud.getdbt.com
DBT_CLOUD_ACCOUNT_ID=your-account-id
DBT_CLOUD_JOB_ID=your-job-id
DBT_CLOUD_API_TOKEN=your-api-token
DBT_CLOUD_WAIT_TIMEOUT_SEC=3600
